.inputContainer {
    display: flex;
    justify-content: space-between;
}

.textBox {
    width: 100%;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.textArea {
    resize: none;
    width: 100%;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.formButtons button {
    width: 45%;
    padding: 10px 20px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}

.formButtons button:hover {
    cursor: pointer;
}