* {
    font-family: 'roboto';
}

body {
    margin: 0
}

.leftArrow {
    color: white;
    position: fixed;
    font-size: 50px;
    top: 50%;
    left: 5%;
    text-decoration: none;
    transition: color 0.5s;
}

.rightArrow {
    color: white;
    position: fixed;
    font-size: 50px;
    top: 50%;
    left: 90%;
    text-decoration: none;
    transition: color 0.5s;
}

.leftArrow:hover,
.rightArrow:hover {
    cursor: pointer;
    color: hsl(0, 0%, 70%);
}

.blurContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(0.5rem) opacity(0);
    pointer-events: none;
    transition: backdrop-filter 0.3s;
}

.blur {
    backdrop-filter: blur(0.5rem) opacity(1);
    pointer-events: all;
}