.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    justify-items: center;
    align-items: center;
}

.centerPiece {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -76px;
}

.centerPiece h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.centerPiece h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}

.icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.icons svg {
    color: white;
    transition: transform 0.5s;
}

.icons svg:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.linkContainer {
    transition: transform 0.2s;
}

.linkContainer:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.linkContainer a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.center {
    animation: moveToCenter 2s;
}

@keyframes moveToCenter {}